@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Nunito+Sans:wght@400;700&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

main {
    text-align: center;
}

body {
    background-color: #1982C4;
    font-family: "Nunito Sans", Helvetica, sans-serif;
    font-size: 22px;
}

header {
    background-color: #0C056D;
    color: white;
    font-family: "Bakbak One"
}

#banner {
    width: 100%;
}

footer {
    text-align: center;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 25px;
    align-items: center;
}

.img1, .img2, .img3 {
    width: 100%;
    border: solid black;
}